html,body{
    max-width: 1920px;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}
.grid-container{
    display: grid;
    grid-template-columns: 405px 1110px 405px;
    grid-column: 1 / 3;
    width: 1920px;
    height: 100vh;
    grid-column-gap: 0;
    grid-row-gap: 0;
    position: relative;
    grid-template-areas:
    "logo " "top-line_text"
    "first-screen" "first-screen"
    "service_text" "service_gallery"
    "about_us-text" "about_us-gallery"
    "clients_text"  "clients_gallery" 
    "reviews_text"  "reviews_message"
    "contact_text"  "contact_data";
}
.grid-item{
    width: 100% !important;
    height: 100%;
    background-size: cover !important;
}

li,
p,
.button {
    font-family: Lato;  
}

p{
    font-size: 18px;
}

h2{
    font-size: 24px;
}

h1,
h2,
h3{
    font-family: Merriweather;
}

.block_head{
    font-family: Lato;
    color: #BDBDBD;
    margin: 0px;
}

.block_start{
    font-size: 48px;
}

.top-line{
    display: grid;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    grid-template-rows: 22px 40px 18px 31px;
    grid-template-columns: 445px 665px ;
}

.logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-column: 1 / 2;
    height: 43px;
    margin-top: 33px;
}
.logo h3{
    font-size: 1.5rem;
    margin-right: 60px;
    color: #005FA3;
}

.top-line_text{
    display: grid;
    grid-row: 2 / 4;
    grid-column: 2 / 3;
}

.top-line_info{
    display: grid;
    grid-row: 2 / 3;
    align-items: stretch;

}

.top-line_menu{
    display: grid;
    grid-row: 3 / 4;
    align-items: stretch;
}

.top-line_info li,.top-line_menu li{
    list-style-type: none;
    border: 0;
    outline: none;
    font-size: 13px;
    } 

.nav{
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 0px;
 }

.menu__link  {
    font-family: Roboto;
    font-weight: 500;
    font-size: 1rem;
    line-height: 26px;
    color: #000000; 
    text-decoration: none; 
}

.burger-icon{
    display: none;
    margin-top: 1px;
    margin-left: 20px;
}
.burger-icon span{
    display: block;
    height: 7px;
    width: 45px;
    background-color:#34547A;
}
.burger-icon span:nth-child(2){
    margin: 6px 0px;
}
.mobile-container{
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 12;
    background-color: rgba(0, 0, 0, 0.8);
    transition: all 0.8s ease 0s;
}

.mobile-container:target{
    opacity: 1;
    visibility: visible;
    }

.header-mobile{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 310px;
    height: 380px;
    background-color: rgba(79, 128,192);
    border: 1px solid gray;
    border-radius: 10px;
    overflow: auto;
    font-size: 14px;
}

.close-icon{
    width: 18px;
    padding-top: 12px;
}

.close-icon span{
    position: absolute;
    top: 20px;
    left: 270px;
    display: block;
    height: 1px;
    width: 20px;
    background-color: rgb(232, 235, 52);
}
.close-icon span:first-child{transform: rotate(45grad);}
.close-icon span:last-child{transform: rotate(-45grad);}

.mobile-list{
    padding-left: 25px;
    margin-top: 0px;
    padding-top: 65px;
    list-style-type: none;
    padding-left: 0;
    font-size: 18px;
}

.mobile-list li{
    text-align: center;
    padding-bottom: 10px;
    letter-spacing: -0.36px;
    padding-top: 9px;
    margin: 0 auto;
    border-bottom: 1px solid lightgray;
    width: 120px;
}
.mobile-list a{
    text-decoration: none;
    color: white;
    outline: none;
}

.popup__area{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}


.first-screen{
    display:grid;
    grid-row: 2 / 3;
    grid-column: 1 / 4;
    grid-template-rows: 170px 257px 243px;
    grid-template-columns: 405px 589px 926px;
    background: url(../images/first-screen.png)
}
.presentation{
    display: grid;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}
.presentation h1{
    color: #ffffff;
}
.button_write,.button_send{
    width: 270px;
    height: 60px;
    background: #005FA3;
    color: #ffffff;
    font-size: 1rem;
    border: 0px;
}
.our_services{
    display: grid;
    background:#EBEBEB;
    grid-row: 3 / 4;
    grid-column: 1 / 4;
    grid-template-rows: 140px 112px 102px 750px 140px;
    grid-template-columns: 405px 1110px  405px;
}
.service_text {
    display: grid;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    padding-left: 2px;
}

.service_gallery{
    display: grid;
    grid-row: 4 / 5;
    grid-column: 2 / 3;
    grid-template-rows: repeat(2,360px) ;
    grid-gap: 30px;
    grid-template-columns: repeat(3,350px);   
}

.service_name{
    background: url(../images/services2.png);
}
.service_name1{
    background: url(../images/services.png);
}
.service_gallery p{
    font-size: 24px;
    color: #ffffff;
    padding: 261px 118px 45px 45px;
}
.about_us{
    display: grid;
    grid-row: 4 / 5;
    grid-column: 2 / 3;
    grid-template-rows: 140px 539px 219px;
    grid-template-columns: 445px 125px 540px ;
}

.about_us-text{
    display: grid;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}

.about_us-text h1{
    color:#005FA3;
}

.about_us-gallery{
    display: grid;
    margin-top:164px;
    margin-bottom: 140px;
    grid-column: 3 / 4;
    grid-template-rows: repeat(2,255px) ;
    grid-gap: 30px;
    grid-template-columns: repeat(2,255px);
}

.about_us-gallery h1{
font-size: 55px;
}
.about_us-gallery a{
    margin-top: 47px;
    text-decoration: none;
    color: black;
}

.deal_name{
    background:#EBEBEB;
    padding-left: 40px;   
}

.deal_name1{
    background:#005FA3;
    padding-left: 40px;
    color: #ffffff;   
}

.deal_name1 a{
    color: #ffffff;   
}

.clients{
    display: grid;
    grid-row: 5 / 6;
    grid-column: 1 / 4;
    grid-template-rows: 100px 110px 80px 130px 210px;
    grid-template-columns: 405px 1110px 405px;
    background: #EBEBEB;
}
.clients_text{
    display: grid;
    grid-row: 2 / 3;
    grid-column: 2 / 3;   
}
.clients_gallery{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    grid-column: 2 / 3;
    grid-row: 4 / 5;
}

.reviews{
    display: grid;
    grid-row: 6 / 7;
    grid-column: 2 / 3;
    grid-template-rows: 140px 110px 80px 320px 50px 200px;
}
.reviews_text{
    display: grid;
    grid-row: 2 / 3; 
    grid-column: 1 / 2;
}
.reviews_message{
    display: grid;
    grid-row: 4 / 5;
    grid-column: 1 / 2;
    grid-template-rows: 45px 92px 75px 80px 45px;
    grid-template-columns: 95px 80px 35px 225px 580px 95px;
    background: #EBEBEB;
}
.message_text{
    display: grid;
    grid-row: 2 / 3;
    grid-column: 2 / 6;
}
.message_author{
    display: grid;
    grid-row: 4 / 5;
    grid-column: 4 / 5;
}
.message_author p{
    margin: 0px;
}

.message_author-photo{
    display: grid;
    grid-row: 4 / 5;
    grid-column: 2 / 3;
}

.contact{
    display: grid;
    grid-row: 7 / 8;
    grid-column: 1 / 4;
    grid-template-columns: 1fr 1fr;
    background: url(../images/first-screen2.png);
}
.contact_text{
    color: #ffffff;
    margin:122px 108px 242px 405px;
}
.contact_data{
    font-size: 21px;
}

.contact_form{
    margin:135px 405px 140px 15px;
    color: #ffffff;
}

.appli_form1{
display: flex;
justify-content: space-between;
}

.appli_form1 .form_text{
width: 255px;
}

.appli_form2 .form_text{
    width: 540px;
    height: 105px;
    resize: none;
}

.form_text{
    background: rgba(0, 0,0, 0);
    border:none;
    border-bottom: 1px white solid;
    color: #ffffff;
    font-size: 16px;
}
.form_text::placeholder{
    font-size: 21px;
    font-style: Lato;
}

.appli_surname{
 margin-left: 30px;
}
